<!-- Start Footer -->
<footer class="cs-footer cs-style1">
    <div class="cs-footer_bg"></div>
    <div class="cs-height_100 cs-height_lg_60"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <div class="cs-footer_widget">
                <h2 class="cs-widget_title">Servicios medicos</h2>
                <ul class="cs-widget_nav">
                  <li><a href="explore-1.html">Todos</a></li><!-- 
                  <li><a href="explore-2.html">Popular Art</a></li>
                  <li><a href="explore-1.html">Digital Art</a></li>
                  <li><a href="explore-1.html">Trending</a></li>
                  <li><a href="explore-details.html">Explore Details</a></li>
                  <li><a href="live-action.html">Live Action</a></li> -->
                </ul>
              </div>
            </div><!-- .col -->
            <div class="col-lg-4 col-sm-4">
              <div class="cs-footer_widget">
                <h2 class="cs-widget_title">Cuenta</h2>
                <ul class="cs-widget_nav">
                  <li><a href="explore-1.html">Todos</a></li><!-- 
                    <li><a href="user-items.html">My Collection</a></li>
                  <li><a href="create-items.html">Create & Upload</a></li>
                  <li><a href="user-account-settings.html">Account Setting</a></li>
                  <li><a href="connect-wallet.html">Connect wallet</a></li>
                  <li><a href="explore-1.html">Wishlist</a></li>-->
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="cs-footer_widget">
                <h2 class="cs-widget_title">Camiwa</h2>
                <ul class="cs-widget_nav">
                  <li><a (click)="global.setRouterActive('blog')">Blog</a></li>
                  <li><a (click)="global.setRouterActive('about')">Como funciona</a></li>
                  <li><a (click)="global.setRouterActive('about')">Acerca de</a></li>
                  <li><a (click)="global.setRouterActive('contact')">Contacto</a></li>
                  <li><a (click)="global.setRouterActive('contact')">Soporte</a></li>
                </ul>
              </div>
            </div><!-- .col -->
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="cs-footer_widget">
            <h2 class="cs-widget_title">Contacto</h2>
            
            <div class="cs-footer_social_btns">
              <a href="index.html#"><i class="fab fa-facebook-f fa-fw"></i></a>
              <a href="index.html#"><i class="fab fa-twitter fa-fw"></i></a>
              <a href="index.html#"><i class="fab fa-linkedin-in fa-fw"></i></a>
              <a href="index.html#"><i class="fab fa-instagram fa-fw"></i></a>
              <a href="index.html#"><i class="fab fa-whatsapp fa-fw"></i></a>
              <a href="index.html#"><i class="fab fa-github fa-fw"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cs-height_60 cs-height_lg_20"></div>
    <div class="cs-footer_bottom">
      <div class="container">
        <div class="cs-footer_separetor"></div>
        <div class="cs-footer_bottom_in">
          <div class="cs-copyright">Copyright 2025. Camiwa. Todos los derechos reservados.</div>
          <ul class="cs-footer_menu">
            <li><a >Politicas de Privacidad</a></li>
            <li><a >Terminos y Condiciones</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->