<div class="cs-height_60 cs-height_lg_40"></div>
<div class="container">
  <div class="row">
    <!-- Columna 1 -->
    <div class="col-lg-6">
      <div class="cs-faq">
        <div class="cs-section_heading cs-style3">
          <h2 class="cs-section_title">Comenzando con Camiwa</h2>
          <div class="cs-section_seperator"></div>
        </div>
        <div class="cs-height_30 cs-height_lg_30"></div>

        <div class="cs-accordians">
          <!-- Q1 -->
          <div class="cs-accordian active">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">¿Qué es Camiwa y cómo funciona?</h2>
              <span class="cs-accordian_toggle">
                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.62109 0.750977L6.95443 6.08431L12.2878 0.750977" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian-body">
              <p>Camiwa es una plataforma que conecta a viajeros con especialistas de salud. Permite a los usuarios encontrar y reservar citas con médicos y otros profesionales de salud de manera rápida y segura. Simplemente busca el servicio que necesitas, selecciona un especialista, y reserva tu cita.</p>
            </div>
          </div>

          <!-- Q2 -->
          <div class="cs-accordian">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">¿Cómo me registro en la plataforma?</h2>
              <span class="cs-accordian_toggle">
                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.62109 0.750977L6.95443 6.08431L12.2878 0.750977" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian-body">
              <p>Para registrarte, haz clic en el botón de registro en la página principal, proporciona tu información personal y sigue las instrucciones para crear tu cuenta.</p>
            </div>
          </div>

          <!-- Q3 -->
          <div class="cs-accordian">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">¿Qué tipos de servicios de salud están disponibles en Camiwa?</h2>
              <span class="cs-accordian_toggle">
                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.62109 0.750977L6.95443 6.08431L12.2878 0.750977" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian-body">
              <p>Camiwa ofrece una amplia gama de servicios de salud, incluyendo consultas médicas, servicios de emergencia, telemedicina, odontología, fisioterapia, y más.</p>
            </div>
          </div>

          <!-- Q4 -->
          <div class="cs-accordian">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">¿Cómo puedo contactar al soporte de Camiwa?</h2>
              <span class="cs-accordian_toggle">
                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.62109 0.750977L6.95443 6.08431L12.2878 0.750977" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian-body">
              <p>Puedes contactar al soporte de Camiwa a través del formulario de contacto en nuestra página web, enviando un correo electrónico a info&#64;camiwa.com, o llamando a nuestro número de atención al cliente disponible en la sección de contacto.</p>
            </div>
          </div>

          <!-- Q5 -->
          <div class="cs-accordian">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">¿Cómo puedo encontrar y reservar un especialista de salud?</h2>
              <span class="cs-accordian_toggle">
                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.62109 0.750977L6.95443 6.08431L12.2878 0.750977" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian-body">
              <p>Ingresa a la plataforma, usa la barra de búsqueda para encontrar el tipo de especialista que necesitas, revisa las opciones disponibles, selecciona el especialista de tu preferencia y sigue las instrucciones para reservar tu cita.</p>
            </div>
          </div>

          <!-- Q6 -->
          <div class="cs-accordian">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">¿Qué debo hacer si tengo un problema con mi reserva?</h2>
              <span class="cs-accordian_toggle">
                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.62109 0.750977L6.95443 6.08431L12.2878 0.750977" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian-body">
              <p>Si tienes algún problema con tu reserva, por favor contacta al soporte de Camiwa a través de nuestros canales de atención al cliente para recibir asistencia.</p>
            </div>
          </div>
        </div><!-- .cs-accordians -->
      </div>
      <div class="cs-height_0 cs-height_lg_30"></div>
    </div>

    <!-- Columna 2 -->
    <div class="col-lg-6">
      <div class="cs-faq">
        <div class="cs-section_heading cs-style3">
          <h2 class="cs-section_title">Seguridad, Privacidad y Políticas</h2>
          <div class="cs-section_seperator"></div>
        </div>
        <div class="cs-height_30 cs-height_lg_30"></div>

        <div class="cs-accordians">
          <!-- Q7 -->
          <div class="cs-accordian active">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">¿Cómo se asegura Camiwa de la calidad de los especialistas de salud?</h2>
              <span class="cs-accordian_toggle">
                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.62109 0.750977L6.95443 6.08431L12.2878 0.750977" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian-body">
              <p>Todos los especialistas de salud en Camiwa son verificados rigurosamente para asegurar que cumplen con los estándares de calidad y las certificaciones necesarias en su campo.</p>
            </div>
          </div>

          <!-- Q8 -->
          <div class="cs-accordian">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">¿Cuáles son las políticas de cancelación?</h2>
              <span class="cs-accordian_toggle">
                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.62109 0.750977L6.95443 6.08431L12.2878 0.750977" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian-body">
              <p>Las políticas de cancelación varían según el especialista y el servicio. Puedes encontrar la política específica de cancelación en la página de reserva del especialista seleccionado.</p>
            </div>
          </div>

          <!-- Q9 -->
          <div class="cs-accordian">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">¿Cómo se maneja la privacidad de mi información médica?</h2>
              <span class="cs-accordian_toggle">
                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.62109 0.750977L6.95443 6.08431L12.2878 0.750977" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian-body">
              <p>Camiwa utiliza tecnología de encriptación avanzada para proteger tu información personal y médica. Además, cumplimos con todas las normativas legales de protección de datos.</p>
            </div>
          </div>

          <!-- Q10 -->
          <div class="cs-accordian">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">¿Puedo acceder a servicios de emergencia a través de Camiwa?</h2>
              <span class="cs-accordian_toggle">
                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.62109 0.750977L6.95443 6.08431L12.2878 0.750977" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian-body">
              <p>Sí, Camiwa ofrece acceso a servicios de emergencia. En caso de emergencia, usa nuestra plataforma para encontrar el servicio de emergencia más cercano y adecuado para tus necesidades.</p>
            </div>
          </div>

          <!-- Q11 -->
          <div class="cs-accordian">
            <div class="cs-accordian_head">
              <h2 class="cs-accordian_title">¿Cómo puedo registrarme como especialista de salud en Camiwa?</h2>
              <span class="cs-accordian_toggle">
                <svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.62109 0.750977L6.95443 6.08431L12.2878 0.750977" stroke="currentColor" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
            </div>
            <div class="cs-accordian-body">
              <p>Visita la sección de registro para especialistas en nuestra página web, completa el formulario de registro y proporciona la documentación necesaria para verificar tus credenciales.</p>
            </div>
          </div>
        </div><!-- .cs-accordians -->
      </div>
    </div>
  </div>
</div>

<div class="cs-height_90 cs-height_lg_70"></div>