<div class="cs-height_100 cs-height_lg_70"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12">
            <div class="cs-post cs-style1 cs-type1 cs-size_md">
              <a href="blog-details.html" class="cs-post_thumb">
                <div class="cs-post_thumb_in cs-bg" data-src="assets/img/general/general_22.jpeg"></div>
              </a>
              <div class="cs-post_info">
                <h2 class="cs-post_title"><a href="blog-details.html">Why XYZ $3M Dune NFT Mistake Proves Intellectual Property’s Dominion in Digital Fine Art</a></h2>
                <div class="cs-post_subtitle">It is a long established fact that a reader will be distrac by the readable content of a page when looking at its layout. The point of using Lorem Ipm i has a more-ornormal distribution of letters,as opposed It is a long established fact that a reader will be distrac by the readable content of a page when looking at its layout. The point of using Lorem Ipm i has a </div>
                  <div class="cs-height_20 cs-height_lg_20"></div>
                  <div class="cs-post_avatar">
                    <a href="blog-with-sidebar.html#" class="cs-post_avatar_img"><img src="assets/img/avatar/avatar_18.png" alt="Avatr"></a>
                    <div class="cs-post_avatar_right">
                      <h2 class="cs-post_avatar_name cs-semi_bold"><a href="blog-with-sidebar.html#">Marina G. Trujillo</a></h2>
                      <div class="cs-post_meta">
                        <span class="cs-post_meta_item">5 Mar 2022</span>
                        <span class="cs-post_meta_item">25 Comments</span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="cs-height_30 cs-height_lg_30"></div>
          </div>
          <!-- .col -->
          <div class="col-lg-6">
            <div class="cs-post cs-style1">
              <a href="blog-details.html" class="cs-post_thumb">
                <div class="cs-post_thumb_in cs-bg" data-src="assets/img/general/general_16.jpeg"></div>
              </a>
              <div class="cs-post_info">
                <h2 class="cs-post_title"><a href="blog-details.html">Guide to Making, Buying and Selling NFT</a></h2>
                <div class="cs-post_subtitle">It is a long established fact that a reader will be
                  distrac by the readable content of a page...</div>
                  <div class="cs-height_20 cs-height_lg_20"></div>
                  <div class="cs-post_avatar">
                    <a href="blog-with-sidebar.html#" class="cs-post_avatar_img"><img src="assets/img/avatar/avatar_18.png" alt="Avatr"></a>
                    <div class="cs-post_avatar_right">
                      <h2 class="cs-post_avatar_name cs-semi_bold"><a href="blog-with-sidebar.html#">Marina G. Trujillo</a></h2>
                      <div class="cs-post_meta">
                        <span class="cs-post_meta_item">5 Mar 2022</span>
                        <span class="cs-post_meta_item">25 Comments</span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="cs-height_30 cs-height_lg_30"></div>
          </div>
          <!-- .col -->
          <div class="col-lg-6">
            <div class="cs-post cs-style1">
              <a href="blog-details.html" class="cs-post_thumb">
                <div class="cs-post_thumb_in cs-bg" data-src="assets/img/general/general_17.jpeg"></div>
              </a>
              <div class="cs-post_info">
                <h2 class="cs-post_title"><a href="blog-details.html">Why do NFTs even make sense?</a></h2>
                <div class="cs-post_subtitle">It is a long established fact that a reader will be
                  distrac by the readable content of a page...</div>
                  <div class="cs-height_20 cs-height_lg_20"></div>
                  <div class="cs-post_avatar">
                    <a href="blog-with-sidebar.html#" class="cs-post_avatar_img"><img src="assets/img/avatar/avatar_19.png" alt="Avatr"></a>
                    <div class="cs-post_avatar_right">
                      <h2 class="cs-post_avatar_name cs-semi_bold"><a href="blog-with-sidebar.html#">Author</a></h2>
                      <div class="cs-post_meta">
                        <span class="cs-post_meta_item">5 Mar 2022</span>
                        <span class="cs-post_meta_item">25 Comments</span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="cs-height_30 cs-height_lg_30"></div>
          </div>
          <!-- .col -->
          <div class="col-lg-6">
            <div class="cs-post cs-style1">
              <a href="blog-details.html" class="cs-post_thumb">
                <div class="cs-post_thumb_in cs-bg" data-src="assets/img/general/general_18.jpeg"></div>
              </a>
              <div class="cs-post_info">
                <h2 class="cs-post_title"><a href="blog-details.html">Why do NFTs even make sense?</a></h2>
                <div class="cs-post_subtitle">It is a long established fact that a reader will be
                  distrac by the readable content of a page...</div>
                  <div class="cs-height_20 cs-height_lg_20"></div>
                  <div class="cs-post_avatar">
                    <a href="blog-with-sidebar.html#" class="cs-post_avatar_img"><img src="assets/img/avatar/avatar_19.png" alt="Avatr"></a>
                    <div class="cs-post_avatar_right">
                      <h2 class="cs-post_avatar_name cs-semi_bold"><a href="blog-with-sidebar.html#">Author</a></h2>
                      <div class="cs-post_meta">
                        <span class="cs-post_meta_item">5 Mar 2022</span>
                        <span class="cs-post_meta_item">25 Comments</span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="cs-height_30 cs-height_lg_30"></div>
          </div>
          <!-- .col -->
          <div class="col-lg-6">
            <div class="cs-post cs-style1">
              <a href="blog-details.html" class="cs-post_thumb">
                <div class="cs-post_thumb_in cs-bg" data-src="assets/img/general/general_28.jpeg"></div>
              </a>
              <div class="cs-post_info">
                <h2 class="cs-post_title"><a href="blog-details.html">Guide to Making, Buying and Selling NFT</a></h2>
                <div class="cs-post_subtitle">It is a long established fact that a reader will be
                  distrac by the readable content of a page...</div>
                  <div class="cs-height_20 cs-height_lg_20"></div>
                  <div class="cs-post_avatar">
                    <a href="blog-with-sidebar.html#" class="cs-post_avatar_img"><img src="assets/img/avatar/avatar_19.png" alt="Avatr"></a>
                    <div class="cs-post_avatar_right">
                      <h2 class="cs-post_avatar_name cs-semi_bold"><a href="blog-with-sidebar.html#">Marina G. Trujillo</a></h2>
                      <div class="cs-post_meta">
                        <span class="cs-post_meta_item">5 Mar 2022</span>
                        <span class="cs-post_meta_item">25 Comments</span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="cs-height_30 cs-height_lg_30"></div>
          </div>
          <!-- .col -->
        </div>
        <div class="cs-height_10 cs-height_lg_10"></div>
        <div class="text-center">
          <a href="blog-with-sidebar.html#" class="cs-btn cs-style1 cs-btn_lg"><span>Load More</span></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cs-height_0 cs-height_lg_70"></div>
        <div class="cs-blog_sidebar">
          <div class="cs-sidebar_widget cs-box_shadow cs-white_bg">
            <form action="blog-with-sidebar.html#" class="cs-search">
              <input type="text" class="cs-search_input" placeholder="Search">
              <button class="cs-btn cs-style1">
                <span>Search</span>                
              </button>
            </form>
          </div>
          <div class="cs-sidebar_widget cs-box_shadow cs-white_bg">
            <h2 class="cs-widget_title"><span>Catagory</span></h2>
            <ul class="cs-widget_list">
              <li>
                <a href="blog-with-sidebar.html#">Art</a>
                <span>(5)</span>
              </li>
              <li>
                <a href="blog-with-sidebar.html#">Fashion</a>
                <span>(3)</span>
              </li>
              <li>
                <a href="blog-with-sidebar.html#">Music</a>
                <span>(5)</span>
              </li>
              <li>
                <a href="blog-with-sidebar.html#">Video</a>
                <span>(4)</span>
              </li>
              <li>
                <a href="blog-with-sidebar.html#">Games</a>
                <span>(5)</span>
              </li>
              <li>
                <a href="blog-with-sidebar.html#">Collectivites</a>
                <span>(2)</span>
              </li>
            </ul>
          </div>
          <div class="cs-sidebar_widget cs-box_shadow cs-white_bg">
            <h2 class="cs-widget_title"><span>Recent Post</span></h2>
            <ul class="cs-recent_post_widget">
              <li>
                <div class="cs-recent_post">
                  <h3 class="cs-post_title"><a href="blog-details.html">Why do NFTs even make sense?</a></h3>
                  <div class="cs-posted_by">1 Mar 2022</div>
                </div>
              </li>
              <li>
                <div class="cs-recent_post">
                  <h3 class="cs-post_title"><a href="blog-details.html">Why do NFTs even make sense?</a></h3>
                  <div class="cs-posted_by">21 Feb 2022</div>
                </div>
              </li>
              <li>
                <div class="cs-recent_post">
                  <h3 class="cs-post_title"><a href="blog-details.html">What does NFT mean in crypto?</a></h3>
                  <div class="cs-posted_by">14 Feb 2022</div>
                </div>
              </li>
              <li>
                <div class="cs-recent_post">
                  <h3 class="cs-post_title"><a href="blog-details.html">How much does it cost to sell NFT?</a></h3>
                  <div class="cs-posted_by">8 Feb 2022</div>
                </div>
              </li>
            </ul>
          </div>
          <div class="cs-sidebar_widget cs-box_shadow cs-white_bg">
            <h2 class="cs-widget_title"><span>Popular Tags</span></h2>
            <div class="cs-tag_widget">
              <a href="blog-with-sidebar.html#">NFTs Art</a>
              <a href="blog-with-sidebar.html#">Music</a>
              <a href="blog-with-sidebar.html#">Video</a>
              <a href="blog-with-sidebar.html#">ETH</a>
              <a href="blog-with-sidebar.html#">Btc</a>
              <a href="blog-with-sidebar.html#">Utility</a>
              <a href="blog-with-sidebar.html#">Fashion</a>
              <a href="blog-with-sidebar.html#">Bitcoin</a>
              <a href="blog-with-sidebar.html#">Mint</a>
              <a href="blog-with-sidebar.html#">Design</a>
              <a href="blog-with-sidebar.html#">NFT</a>
              <a href="blog-with-sidebar.html#">Crypto</a>
            </div>
          </div>
          <div class="cs-sidebar_widget cs-box_shadow cs-white_bg">
            <h2 class="cs-widget_title"><span>Social Share</span></h2>
            <div class="cs-social_widget">
              <a href="blog-with-sidebar.html#"><i class="fab fa-facebook-f"></i></a>
              <a href="blog-with-sidebar.html#"><i class="fab fa-twitter"></i></a>
              <a href="blog-with-sidebar.html#"><i class="fab fa-linkedin-in"></i></a>
              <a href="blog-with-sidebar.html#"><i class="fab fa-instagram"></i></a>
              <a href="blog-with-sidebar.html#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cs-height_100 cs-height_lg_70"></div>